.select-fund {
	display: inline-flex;
	width: 120px;
	margin-right: 20px; 
}

.search-group {
	display: inline-flex;
	width: 200px;
}

#quantityNum {
	display: inline-flex;
	width: 100px;
}

#PortfolioName {
	width: 300px;
}